# LAB 1 TASKS
In this Lab we will learn about compound datatypes which allow to work on collection of simple datatypes (int, float, string) at once.  

Then, We will do some aithemetic opreations on them. After that we will perform some logical operations. Then, we will write our first python function. Finally, we will put our function inside a module (Bundeled software, libraby equivalne of C). Finally, we will import our module and call the function inside the module.

## Warm up

## Task 1 (Dynamic typing) 
As you already seen in the Lecture 1, that, Python variable assignment is different from some of the popular languages like c, c++ and java. There is no declaration of a variable, just an assignment statement. Python is a dynamically typed language. It doesn’t know about the type of the variable until the code is run. So declaration is of no use. What it does is, It stores that value at some memory location and then binds that variable name to that memory container. And makes the contents of the container accessible through that variable name. So the data type does not matter. As it will get to know the type of the value at run-time. Enough being said about the dynamic typing of Python. Lets do a simple exercise:- 

1. Assign interger value e.g. 10 to a varible name a.
2. Get the datatype of varible using type(arg) function (take variable name as argument).
3. Print the data type of variable using print(arg) funtion (Use type function as argument and observe the output of the code. 
4. Now assign 10.1 to a and repeat the instructions 2-3 and observe the output.

In [42]:
## PLACE FOR TASK 1

a=10
arg = type(a)
print(arg)
a=10.1
arg = type(a)
print(arg)

<class 'int'>
<class 'float'>

## Task 2 

Analyze the following code and forecast the values of x and y. Run the code and discuss the output with your instrcutor. 
1. 
```python
x = 1
y = x
x = x - 1
print(x) 
print(y)
```

2. ```python
x = 1
y = x
y = 'Hello World'
print(x)
print(y)
```

3.  ```python
x = 1
y = 1.
print( type(x) )
x = y
print(  type(x) )
```

Forecast:
1. x=0, y=1
2. x=1, y=HW
3. x=float, y=float
BŁĄD: w trzecim przypadku zmienna x będzie intem, przy nadpisywaniu zmiennych 
interpreter pythona wybiera odpowiedni typ dla zmiennej, nawet gdy nie jest on zgodny z wejściowym. jest to korzystne, gdyż int ma mniejszy rozmiar.

In [44]:
## PLACE FOR TASK 2 ######

x = 1
y = x
x = x - 1
print(x) 
print(y)

x = 1
y = x
y = 'Hello World'
print(x)
print(y)

x = 1
y = 1.
print( type(x) )
x = y
print(  type(x) )

0
1
1
Hello World
<class 'int'>
<class 'int'>

## Data Stucture - List 
Python List are more versatile sequential data structure. List are defined using pair of brackets [ ], and the elements within it are separated by commas. A list can hold any single type of
data: numerical, or strings, or combination of any data types. 
Below are some examples of lists of elements belongs to 1 type. 
```python
l1 = [1, 2, 3] # List of integers
l2 = [1.0, 2.1, 3.1] # list of floats
l3 = ["Tuna", "Salmon", "Karp" ] #list of strings
```
Below are some examples of lists of elements belongs to different data types. 
```python
l1 = [1, 2.0, 3.2] # List of integers and float
l2 = [1, "Norway", "Tuna"] # list of integer and String
l3 = [1, 4.20, "Sweden", "Karp" ] #list of integer, float and String
l4 = [l1, l2, l3] # list of lists
```
We can access elements of list using a bracket and the index of the position. Indexing start from 0 and goes up to N-1, where is N is total number of elements .   

```python
l1 = [1, 2, 3,  4.4, "Bob"] # 
print(l1[0]) # will print the first elment
pirnt(l1[1]) # will print the 2nd elment
N = len(l1) # len() function return the length of list
print(l1[N-1]) # will print the last element. Do not that we use N-1. 
```
Reverse indexing, start from -1 to -N.
```python
print(l1[-1]) # Will print the last element
print(l1[-2]) # Will print the 2nd element
print(l1[-N]) # will print the first element 
```
functions of lists
```python
l1 = []
l1.append([1]) #append the element to list, after this operation l1 = [1]
l1. append([2, 3]) # append the 2 and 3 to list, after this operation  l1 = [1, 2, 3];
max(l1) # return maximum of list i.e. 3
min(l1) # return minimum of list i.e. 1
len(1l) # return total of elments i.e. 3
l1.remove(2) # remove the element whose value is 1, after this operation l1 becomes [1, 3];
l1.insert(1, "apple") # insert apple at index =1, after this operation l1 = [1, "apple", 3]  
```

## Task 3
1. Analyze following code and discuss the output with your instructor.
```python
l1 = [1 , 2, 3.0];
print(type(l1))
print(type(l1[0] ))
print(type(l1[-1]))
```
2. Write code to remove all occurrences of a specific item from a list by using for loop.
```python
list1 = [5, 20, 15, 20, 25, 50, 20]
```
3. Write code to replace above list’s specific item with new value if found.
4. As we know in python can have a  list of mixed data type , e.g.
```python
l1 = [ 1, 2, 2.1, "Tuna",  4, "Salmon"] 
```
Create a function which takes a mixed list as input argument and segregate elments of same types in lists. And finally returns the all the lists.   
```python
 l1 = [ 1, 2, 2.1, "Tuna",  4, "Salmon"] # Input
l2 = [1, 2, 4]; l3 = [2.1]; l4= ["Tuna", "Salmon"]; #output      
```


Q5. Use the output lists of previous code, Now contructs back the original mixed lists. Do remember the postion of elements should be same as before.

In [25]:
## PLACE FOR TASK 3 ######


list1 = [5, 20, 15, 20, 25, 50, 20]

#3.2
def remove_items(lista, value):
  result=[]
  for item in lista:
    if item!=value:
      result.append(item)
  return result

#3.3
def replace_items(lista, value1,value2):
  result = lista
  for n, item in enumerate(lista):
    if item==value1:
      result[n] =value2
  return result

#3.4
# aby uniknąć zwracania różnej ilości zmiennych (w zależnośći od ilości typów 
#w liscie), zwracam dictionary który jako klucze bierze typy a jako wartości 
#posortowaną liste obiektów tego typu występujących w liście wejściowej funkcji
l1 = [5, 1, 2, 2.1, "Tuna",  4, "Salmon"]

def sort_list(lista):
  types = [type(a) for  a in lista]
  n_types=set(types)

  dictionary={}

  for t in n_types:
      dictionary[t]=[]
  
  for item in lista:
    dictionary[type(item)].append(item)
  
  for t in types:
    dictionary[t]=sorted(dictionary[t])
  return(dictionary)

sort_list(l1)

{int: [1, 2, 4, 5], float: [2.1], str: ['Salmon', 'Tuna']}

## List Slicing
Slicing is used to extract elements from lists here are some example of List slicing

In [ ]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9 , 10] 
l2 = l1[:] # all elements of l1 are assigned to l2
print(l2)

l2 = l1[1:] # Elements from 2nd to end are assigned to l2
print(l2)

l2 = l1[:-1] # Elements from 1st to 2nd last are assigned to l2
print(l2)

l2 = l1[::2] # Elements with even index are assigend to l2
print(l2)

l2 = l1[1::2] # Elements with odd index are assigend to l2
print(l2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 3, 4, 5, 6, 7, 8, 9, 10]
[1, 2, 3, 4, 5, 6, 7, 8, 9]
[1, 3, 5, 7, 9]
[2, 4, 6, 8, 10]

## Task 4
1. Given a list  write a function which cyclically rotate the array clockwise by one.
2. Write a pythong function to Create a 2D aray from a list using slicing.

In [39]:
## PLACE FOR TASK 4 ######


#4.1
def rotate(*lista):
  el = lista.pop(0)
  lista.append(el)
  
#4.2
def to_2D(lista, a, b):
  result=[]
  if len(lista)==a*b:
    result = [lista[i*b:(i+1)*b] for i in range(a)]
    return result
  else:
    print("The dimensions don't match!")
    return None

In [38]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9 , 10] 

print(to_2D(l1,2,5))

[[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]]

In [41]:
l1 = [1, 2, 3, 4, 5, 6, 7, 8, 9 , 10] 

for i in range(5):
  rotate(l1)

print(l1)

[6, 7, 8, 9, 10, 1, 2, 3, 4, 5]